.chat {
    display: flex;
    flex-direction: column;
    flex: 0.7;
}

.chat_header {
    display: flex;
    padding: 20px;
    background-color: #f0f2f5;
    cursor: pointer;    /* makes cursor from click to palm icon */
}


.chat_header_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.chat_header_info > h3 {
    font-size: 17px;
    overflow: hidden;
}

.chat_header_info > p {
    overflow: hidden;
    font-size: 13px;
    color: gray;
}

.chat_header_options {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat_body {
    flex: 1;
    background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
    overflow: scroll;
}

.chat_message {
    width: 100%;
    background-color: white;
    width: fit-content;
    border-radius: 7.5px;
    margin: 20px;
    padding: 6px 7px 8px 9px;
    max-width: 70%;
}

.chat_msg_username > h3 {
    font-size: 12.8px;
}

.chat_msg_content {
    margin-right: 50px;
}

.chat_msg_time {
    font-size: 0.7rem;
    position: relative;
    top: 5px;
    margin-left: auto;
    width: fit-content;
}

.user_message {
    background-color: #d9fdd3;
    margin-left: auto;
}

.chat_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 52px;
    padding: 5px 17px;
    background-color: #f0f2f5;
}

.chat_footer > .MuiSvgIcon-root {
    color: grey;
    cursor: pointer;
    padding: 5px;
}

.chat_footer > form {
    flex: 1;
}

.chat_footer > form > input {
    width: -webkit-fill-available;
    padding: 9px 12px 11px;
    margin: 5px;
    border-radius: 8px;
    border: none;
    outline: none;
    overflow: hidden;
}

.chat_footer > form > button {
    display: none;
}